Repository detailobsessed/unblu-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, no-internal-urls

ty:
  name: ty type checker
  entry: uv run ty check
  language: system
  pass_filenames: false
  priority: 1

no-internal-urls:
  name: check for internal URLs in pyproject.toml and uv.lock
  entry: bash scripts/check_no_internal_urls.sh
  language: system
  pass_filenames: false

Update troubleshooting.md
  docs/troubleshooting.md
Due: none

docs: create separate documentation pages (#98)
  .pre-commit-config.yaml
  config/.markdownlint.yaml
  docs/getting-started.md
  docs/index.md
  docs/kubernetes.md
  docs/logging.md
  docs/programmatic.md
  docs/safety.md
  docs/tools.md
  docs/troubleshooting.md
  mkdocs.yml
  uv.lock
Due: no-internal-urls

chore: remove PR template that conflicts with gt submit
  .github/pull_request_template.md
Due: none

chore: remove PR template that conflicts with gt submit (#99)
  .github/pull_request_template.md
Due: none

fix: trigger MCP Registry publish on release, not workflow_run
  .github/workflows/mcp-registry-publish.yml
Due: none

fix: trigger MCP Registry publish on release, not workflow_run (#100)
  .github/workflows/mcp-registry-publish.yml
Due: none

chore(release): 0.5.2
  pyproject.toml
  server.json
Due: no-internal-urls

docs: fix CONTRIBUTING.md and markdownlint issues
  .github/ISSUE_TEMPLATE/1-bug.md
  .windsurf/rules/graphite-cli.md
  CONTRIBUTING.md
  README.md
  config/.markdownlint.yaml
  docs/license.md
  uv.lock
Due: no-internal-urls

docs: fix CONTRIBUTING.md and markdownlint issues (#101)
  .github/ISSUE_TEMPLATE/1-bug.md
  .windsurf/rules/graphite-cli.md
  CONTRIBUTING.md
  README.md
  config/.markdownlint.yaml
  docs/license.md
  uv.lock
Due: no-internal-urls

chore: update project dependencies to latest versions
  uv.lock
Due: no-internal-urls

chore: update project dependencies to latest versions (#104)
  uv.lock
Due: no-internal-urls

chore: pre-template-update cleanup
  .copier-answers.yml
  .windsurf/rules/graphite-cli.md
  .windsurf/rules/task-runner.md
Due: none

chore: update template from 0.1.0 to 0.30.1, upgrade deps, pin hook versions
  .copier-answers.yml
  .editorconfig
  .envrc
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/ISSUE_TEMPLATE/2-feature.md
  .github/ISSUE_TEMPLATE/3-docs.md
  .github/ISSUE_TEMPLATE/4-change.md
  .github/actionlint.yaml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/copier-update.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  .gitignore
  .lychee.toml
  .markdownlint.json
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README_TEMPLATE.md
  SECURITY.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  scripts/check-template-update.sh
  scripts/get_version.py
  scripts/test_client.py
  src/unblu_mcp/_internal/debug.py
  tests/test_server.py
  uv.lock
Due: ty, no-internal-urls

chore: pre-template-update cleanup (#133)
  .copier-answers.yml
  .windsurf/rules/graphite-cli.md
  .windsurf/rules/task-runner.md
Due: none

chore: set _commit to 0.1.0 baseline for copier update
  .copier-answers.yml
Due: none

chore: set _commit to 0.1.0 baseline for copier update (#134)
  .copier-answers.yml
Due: none

chore: update template from 0.1.0 to 0.30.1, upgrade deps, pin hook versions (#135)
  .copier-answers.yml
  .editorconfig
  .envrc
  .github/ISSUE_TEMPLATE/1-bug.md
  .github/ISSUE_TEMPLATE/2-feature.md
  .github/ISSUE_TEMPLATE/3-docs.md
  .github/ISSUE_TEMPLATE/4-change.md
  .github/actionlint.yaml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/copier-update.yml
  .github/workflows/issue-triage.yml
  .github/workflows/release.yml
  .gitignore
  .lychee.toml
  .markdownlint.json
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README_TEMPLATE.md
  SECURITY.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  scripts/check-template-update.sh
  scripts/get_version.py
  scripts/test_client.py
  src/unblu_mcp/_internal/debug.py
  tests/test_server.py
  uv.lock
Due: ty, no-internal-urls

fix: add lfs: true to prek CI job checkout, pin lychee rev
  .github/workflows/ci.yml
  .lychee.toml
  .markdownlint.json
  CODE_OF_CONDUCT.md
  _typos.toml
  docs/troubleshooting.md
  prek.toml
  pyproject.toml
  scripts/analyze_swagger.py
  scripts/test_all_operations.py
  scripts/test_mcp_tools_exhaustive.py
  src/unblu_mcp/_internal/cli.py
  src/unblu_mcp/_internal/providers.py
  src/unblu_mcp/_internal/providers_k8s.py
  src/unblu_mcp/_internal/server.py
  src/unblu_mcp/swagger.json
  tests/test_all_operations.py
  tests/test_api.py
  tests/test_mcp_client.py
  tests/test_server.py
  tests/test_tools_integration.py
Due: ty, no-internal-urls

fix: resolve all prek --all-files lint issues (#136)
  .github/workflows/ci.yml
  .lychee.toml
  .markdownlint.json
  CODE_OF_CONDUCT.md
  _typos.toml
  docs/troubleshooting.md
  prek.toml
  pyproject.toml
  scripts/analyze_swagger.py
  scripts/test_all_operations.py
  scripts/test_mcp_tools_exhaustive.py
  src/unblu_mcp/_internal/cli.py
  src/unblu_mcp/_internal/providers.py
  src/unblu_mcp/_internal/providers_k8s.py
  src/unblu_mcp/_internal/server.py
  src/unblu_mcp/swagger.json
  tests/test_all_operations.py
  tests/test_api.py
  tests/test_mcp_client.py
  tests/test_server.py
  tests/test_tools_integration.py
Due: ty, no-internal-urls

feat: refactor MCP server tool architecture, docs, and tests
  README.md
  config/mcp_policies.json
  mkdocs.yml
  pyproject.toml
  src/unblu_mcp/__init__.py
  src/unblu_mcp/_internal/models.py
  src/unblu_mcp/_internal/pagination.py
  src/unblu_mcp/_internal/server.py
  tests/test_all_operations.py
  tests/test_mcp_client.py
  tests/test_policy.py
  tests/test_server.py
  tests/test_tools_integration.py
  uv.lock
Due: ty, no-internal-urls

test: add coverage tests for all curated tools, reach 90.35% coverage
  pyproject.toml
  tests/test_cli.py
  tests/test_policy.py
  tests/test_server.py
Due: ty, no-internal-urls

feat: refactor MCP server tool architecture, docs, and tests (#137)
  README.md
  config/mcp_policies.json
  mkdocs.yml
  pyproject.toml
  src/unblu_mcp/__init__.py
  src/unblu_mcp/_internal/models.py
  src/unblu_mcp/_internal/pagination.py
  src/unblu_mcp/_internal/server.py
  tests/test_all_operations.py
  tests/test_cli.py
  tests/test_mcp_client.py
  tests/test_policy.py
  tests/test_server.py
  tests/test_tools_integration.py
  uv.lock
Due: ty, no-internal-urls

chore(release): 0.6.0
  pyproject.toml
  server.json
Due: no-internal-urls

fix: strip API path from UNBLU_BASE_URL in _gui_url, make make_enum_filter generic
  README.md
  src/unblu_mcp/__init__.py
  src/unblu_mcp/_internal/models.py
  src/unblu_mcp/_internal/pagination.py
  src/unblu_mcp/_internal/server.py
  tests/test_mcp_client.py
  tests/test_server.py
  uv.lock
Due: ty, no-internal-urls

feat: implement wise-mcp improvements (error hints, identity anchor, batch persons, progressive detail, gui urls, perf hints) (#138)
  README.md
  src/unblu_mcp/__init__.py
  src/unblu_mcp/_internal/models.py
  src/unblu_mcp/_internal/pagination.py
  src/unblu_mcp/_internal/server.py
  tests/test_mcp_client.py
  tests/test_server.py
  uv.lock
Due: ty, no-internal-urls

chore(release): 0.7.0
  pyproject.toml
  server.json
Due: no-internal-urls

ci: fix docs workflow Python version 3.13 → 3.14
  .github/workflows/docs.yml
Due: none

chore: fix copier cli_framework answer ('' → none)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  README_TEMPLATE.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  uv.lock
  zensical.toml
Due: no-internal-urls

ci: fix docs workflow Python version 3.13 → 3.14 (#140)
  .copier-answers.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  README_TEMPLATE.md
  mkdocs.yml
  prek.toml
  pyproject.toml
  uv.lock
  zensical.toml
Due: no-internal-urls

chore: fix repository_namespace and enable publish_to_pypi in copier answers
  .copier-answers.yml
Due: none

fix: restore PyPI publish job to release workflow
  .github/workflows/release.yml
  prek.toml
Due: none

fix: restore PyPI publish job to release workflow (#141)
  .copier-answers.yml
  .github/workflows/release.yml
  prek.toml
Due: none

chore(release): 0.7.1
  pyproject.toml
  server.json
Due: no-internal-urls

chore: sync uv.lock to 0.7.1 after rebase onto main
  README.md
  docs/getting-started.md
  server.json
  uv.lock
Due: no-internal-urls

feat: add runtimeHint uvx to server.json; prefer uvx in docs and README (#142)
  README.md
  docs/getting-started.md
  server.json
  uv.lock
Due: no-internal-urls

fix: correct mcp-registry-publish workflow name (remove -bun suffix)
  .github/workflows/mcp-registry-publish.yml
Due: none

chore(release): 0.8.0
  pyproject.toml
  server.json
Due: no-internal-urls

fix: correct mcp-registry-publish workflow name (remove -bun suffix) (#143)
  .github/workflows/mcp-registry-publish.yml
Due: none

fix: add uv lock to semantic-release build_command; sync uv.lock to 0.8.0
  pyproject.toml
  uv.lock
Due: no-internal-urls

fix: add uv lock to semantic-release build_command; sync uv.lock to 0.8.0 (#144)
  pyproject.toml
  uv.lock
Due: no-internal-urls

Path conditions:
  ty: any of: \.py$
  no-internal-urls: any of: (pyproject\.toml|uv\.lock)
