Repository detailobsessed/unblu-mcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, no-internal-urls

ty:
  name: ty type checker
  entry: uv run ty check
  language: system
  pass_filenames: false
  priority: 1

no-internal-urls:
  name: check for internal URLs in pyproject.toml and uv.lock
  entry: bash scripts/check_no_internal_urls.sh
  language: system
  pass_filenames: false

chore(release): 0.8.1
  pyproject.toml
  server.json
Due: no-internal-urls

fix: fix CHANGELOG.md never updating (wrong insertion marker + deprecated PSR v10 config)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: no-internal-urls

fix: fix CHANGELOG.md never updating (wrong insertion marker + deprecated PSR v10 config) (#145)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: no-internal-urls

chore(release): 0.8.2
  CHANGELOG.md
  pyproject.toml
  server.json
Due: no-internal-urls

chore: update project dependencies to latest
  .copier-answers.yml
  .envrc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  pyproject.toml
  uv.lock
  zensical.toml
Due: no-internal-urls

chore: update project dependencies to latest
  pyproject.toml
  src/unblu_mcp/_internal/server.py
  tests/test_mcp_client.py
  tests/test_server.py
  tests/test_tools_integration.py
  uv.lock
  zensical.toml
Due: ty, no-internal-urls

chore: update project dependencies to latest (#153)
  .copier-answers.yml
  .envrc
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  pyproject.toml
  src/unblu_mcp/_internal/server.py
  tests/test_mcp_client.py
  tests/test_server.py
  tests/test_tools_integration.py
  uv.lock
  zensical.toml
Due: ty, no-internal-urls

fix: restore mcp-registry-publish — move trigger into release workflow
  .github/workflows/mcp-registry-publish.yml
  .github/workflows/release.yml
Due: none

fix: restore mcp-registry-publish — move trigger into release workflow (#154)
  .github/workflows/mcp-registry-publish.yml
  .github/workflows/release.yml
Due: none

chore(release): 0.8.3
  CHANGELOG.md
  pyproject.toml
  server.json
Due: no-internal-urls

docs: update FastMCP badge from 2.14+ to 3.1+
  README.md
  uv.lock
Due: no-internal-urls

docs: update FastMCP badge from 2.14+ to 3.1+ (#155)
  README.md
  uv.lock
Due: no-internal-urls

feat: remove Eunomia, tighten progressive disclosure
  .gitignore
  README.md
  config/mcp_policies.json
  docs/getting-started.md
  docs/index.md
  docs/programmatic.md
  docs/safety.md
  pyproject.toml
  src/unblu_mcp/_internal/cli.py
  src/unblu_mcp/_internal/server.py
  tests/test_cli.py
  tests/test_mcp_client.py
  tests/test_policy.py
  tests/test_server.py
  uv.lock
Due: ty, no-internal-urls

feat: remove Eunomia, tighten progressive disclosure (#156)
  .gitignore
  README.md
  config/mcp_policies.json
  docs/getting-started.md
  docs/index.md
  docs/programmatic.md
  docs/safety.md
  pyproject.toml
  src/unblu_mcp/_internal/cli.py
  src/unblu_mcp/_internal/server.py
  tests/test_cli.py
  tests/test_mcp_client.py
  tests/test_policy.py
  tests/test_server.py
  uv.lock
Due: ty, no-internal-urls

chore: update template to 0.31.14
  .copier-answers.yml
  prek.toml
  uv.lock
Due: no-internal-urls

chore(release): 0.9.0
  CHANGELOG.md
  pyproject.toml
  server.json
Due: no-internal-urls

chore: update template to 0.31.14 (#157)
  .copier-answers.yml
  prek.toml
  uv.lock
Due: no-internal-urls

fix: webhook_status default None, pre-warm ensure_connection, expiry_ms is not None
  src/unblu_mcp/__init__.py
  src/unblu_mcp/_internal/models.py
  src/unblu_mcp/_internal/server.py
  tests/test_tools_integration.py
  uv.lock
Due: ty, no-internal-urls

feat: add check_deployment_health tool — 7-check parallel health report (#158)
  src/unblu_mcp/__init__.py
  src/unblu_mcp/_internal/models.py
  src/unblu_mcp/_internal/server.py
  tests/test_tools_integration.py
  uv.lock
Due: ty, no-internal-urls

docs: update server.json description to mention curated tools
  server.json
  uv.lock
Due: no-internal-urls

chore(release): 0.10.0
  CHANGELOG.md
  pyproject.toml
  server.json
Due: no-internal-urls

docs: update server.json description to mention curated tools (#159)
  server.json
  uv.lock
Due: no-internal-urls

fix: update cli.py description to remove stale Token-efficient wording
  src/unblu_mcp/_internal/cli.py
  uv.lock
Due: ty, no-internal-urls

fix: update cli.py description to remove stale Token-efficient wording (#160)
  src/unblu_mcp/_internal/cli.py
  uv.lock
Due: ty, no-internal-urls

chore(release): 0.10.1
  CHANGELOG.md
  pyproject.toml
  server.json
Due: no-internal-urls

k8s: clarify env config lookup and improve errors
  README.md
  docs/getting-started.md
  docs/kubernetes.md
  src/unblu_mcp/_internal/cli.py
  src/unblu_mcp/_internal/providers_k8s.py
  tests/test_providers_k8s.py
  uv.lock
Due: ty, no-internal-urls

Add packaged K8s template and --print-k8s-config-template CLI flag
  README.md
  docs/getting-started.md
  docs/kubernetes.md
  src/unblu_mcp/_internal/cli.py
  src/unblu_mcp/_internal/providers_k8s.py
  src/unblu_mcp/k8s_environments.template.yaml
  tests/test_cli.py
Due: ty

ci: remove broken Copier Update workflow
  .github/workflows/copier-update.yml
Due: none

ci: remove broken Copier Update workflow (#231)
  .github/workflows/copier-update.yml
Due: none

Path conditions:
  ty: any of: \.py$
  no-internal-urls: any of: (pyproject\.toml|uv\.lock)
